<div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> Prepare for gratiutous Bootstrap usage.
    </div>
</div>

<div class="row" ng-app ng-controller="cardsListController">
    <div ng-repeat="card in cards" class="col-md-2 thumbnail">
        Card {{card.id}}
    </div>
</div>

@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/cardsControllers.js"></script>
    <!--
    Options:
        1. Download scripts
        2. Use NuGet to add them
        3. Use CDN references
            
    <script src=//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js></script>
    https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/MANIFEST

     <script src=//cdn.jsdelivr.net/g/jquery,angularjs(angular.min.js+angular-resource.min.js+angular-animate.min.js+angular-cookies.min.js+angular-route.min.js+angular-sanitize.min.js)></script> 
     http://www.jsdelivr.com/
    -->
}