<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MTG Browser</title>
    <link href="~/Content/index.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/app/localService.js"></script>
    <script src="~/Scripts/app/cardsControllers.js"></script>
    <script src="~/Scripts/app/app.js"></script>
</head>
<body ng-app="mainApp" ng-controller="cardsListController">
    <div ng-view id="mainView"></div>
</body>
</html>